<div class="container">
  <div class="bet span12">
    <h2>Error 422</h2>
    <h3>The change you wanted was rejected.</h3>
    <h3>Maybe you tried to change something you didn't have access to.</h3>
  </div>
</div>
