<script type="text/javascript" src="/assets/jquery.bracket.min.js"></script>
<link rel="stylesheet" type="text/css" href="asset/jquery.bracket.min.css" />



<div class="container">
  <div class="bet span12">
    <h2>Tournament </h2>
  </div>
    <div id="save" >
      <div class="demo">
      </div>
    </div>
</div>
