<div class="container">
  <div class="bet span12">
    <h2>Choose the game you want to see its players</h2>
    <div class="row-fluid">
      <div class="span4 offset1 game">
	<a href="/stats/sc2"><%= image_tag("icon/sc2icone.png", height: "250", width: "250") %>
	<p>Starcraft 2</p></a>
      </div>
      
      <div class="span4 offset2 game">
	<a href="/stats/lol"><%= image_tag("icon/lolicone.png", height: "250", width: "250") %>
	<p>League of Legends</p></a>
      </div>
    </div>
  </div>
</div>
